%form{method: "POST"}
  %input#searchbox{value: "Type in the city...", name: "searchbox"}
  %br
  %button Search

- if @temps
  %table{cellspacing: 0, cellpadding: 0}
    %th date
    %th temp
    - @temps.each do |date, data|
      %tr
        %td= date.strftime "%d.%m."
        %td{title: data.map {|site, temp| "#{site}: #{temp}"}.join(", ")}= data.values.sum.to_f / data.size
